In [2]:
a = {'a':1}
import json
with open('world_countries.json', 'r') as f:
    myjson = json.load(f)
with open('1.json', 'w') as f:
    json.dump(myjson,f, indent=4)

In [ ]:
URL = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/world_countries.json'

<hr>
<ul>
    <li>bulleted_one</li>
    <li>bulleted_two</li>
    <li>bulleted_three</li>
</ul>
1.  numbered_one
2.  numbered_two
3.  numbered_three

| product       | prices |
| ------------- | ------ |
| car           |  $8000 |
| truck         | $12000 |
| tank          | $10000 |

In [ ]:
https://tse2-mm.cn.bing.net/th/id/OIP-C.hs_Nl4nkva-ti7JXX_AMMAHaEo?w=286&h=180&c=7&r=0&o=5&pid=1.7

print([match.group(0) for ingredient in ingredients for match in [(re.compile(".*(wasabi).*")).search(ingredient)] if match])

In [4]:
import random
a = range(100)
random.seed(1234)
random.sample(a, 10)

[99, 56, 14, 0, 11, 74, 4, 85, 88, 10]

In [3]:
import numpy as np
import pandas as pd

df = pd.DataFrame(range(10))
df.corr()

     0
0  1.0